.head-container{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;

    .text-side{
        width: 60%;
    }

    h1{
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 100px;
        color: #D36CA4;
        margin: 0px;
    }

    .description{
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
    }
}

.recipe-image{
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #D36CA4;
}

.recipe-div{
    position: relative;
    display: flex;
    justify-content: center;

    .text-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 66px;
        border: 1px solid  black;
        font-size: 21px;
        background-color: white;
        position: absolute;
        bottom: 2rem;
        z-index: 1;
        max-width: 300px;
        min-width: 60%;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        border-radius: 10px;
        text-wrap: wrap;
    }
   
    p{
        margin: 0;
    }
}

.recipe-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 90vw;
    row-gap: 1rem;
    padding-bottom: 10rem;
}

.intro-link {
    text-decoration: none;
    color: black;
    &:visited {
        color: black;
    }

    &:link {
        color: black;
    }

    &:hover {
        color: #D36CA4;
    }

    &:active {
        color: #D36CA4;
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

/* Put breakpoints here */